{% extends 'base.html' %}

{% block title %}{{account.account_name}}{% endblock %}

{% block content %}

<a href="/MoneyManager"><- Main Page</a>
<h1>{{account.account_name}}</h1>

<p>
	Balance: 
	<strong>{{account.account_value}}</strong>
</p>

<p>
	Last transaction 
	<em>{{account.last_change}}</em>
</p>
{% if changes_list %}
<table>
	<tr>
		<th>Date</th>
		<th>Category</th>
		<th>Amount</th>
		<th>Comment</th>
		<th>Transfer</th>
	</tr>
	
	{% for change in changes_list %}
		<tr>
			<td>{{change.date}}</td>
			<td>{{change.category.name}}</td>
			<td>{{change.amount}}{% if change.amount_fraction != 0 %}.{{change.amount_fraction}}{% endif %}</td>
			<td>{% if change.comment != "" %}({{change.comment}}){% endif %}</td>
			<td>
				{% if change.transfer %}
					{% if change.account == account %} 
						sent to {{change.transfer_getter}}
					{% else %}
						came from {{change.account}}
					{% endif %}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>
{% else %}
	No changes yet
{% endif %}

<form action="{% url 'MoneyManager:remove_account' account.id%}" method="POST">
		{% csrf_token %}
		<button type="submit">Remove</button>
</form>

{% endblock %}