{% extends 'base.html' %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}

<a href="/MoneyManager"><- Main Page</a>
<h1>{{category.name}} ({% if category.is_income %}Income{% else %}Spend{% endif %})</h1>

<p>
	Changed value:
	{{category.changed_value}}{% if category.changed_value_fraction != 0 %}.{{category.changed_value_fraction}}{% endif %}
</p>

<h3>Changes:</h3>
{% if changes %}
<table>
	<tr>
		<th>Date</th>
		<th>Account</th>
		<th>Amount</th>
		<th>Comment</th>
	</tr>
	
	{% for change in changes %}
		<tr>
			<td>{{change.date}}</td>
			<td>{{change.account.account_name}}</td>
			<td>{{change.amount}}{% if change.amount_fraction != 0 %}.{{change.amount_fraction}}{% endif %}</td>
			<td>{% if change.comment != "" %}({{change.comment}}){% endif %}</td>
		</tr>
	{% endfor %}
	
</table>
{% else %}
	No changes yet
{% endif %}

{% if category.name != constants.noname_spend_category and category.name != constants.noname_income_category %}
	<form action="{% url 'MoneyManager:remove_category' category.id %}" method="POST">
		{% csrf_token %}
		<button type="submit">REMOVE</button>
	</form>
{% endif %}


{% endblock %}